{% extends 'base.html' %}

{% block title_head %}
<title>Eliminar Paciente</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Eliminar Paciente</h1>
{% endblock h1_header %}

{% block section1 %}
<form action={% url 'eliminar_paciente' paciente.id %} method="POST">
    {% csrf_token %}
    <div style="background-color:#2C3E50">
        <div class="centrado" style="background-color:#ffffff">
            <div class="contenedor">
                <p>¿Desea eliminar permanentemente el paciente {{paciente.nombre}} {{paciente.apellido}}?</p>
            </div>
            <p></p>
            <div class="contenedor">
                <button class="boton" style="background-color:red">Eliminar</button>
            </div>
        </div>
    </div>
</form>
{% endblock section1 %}