{% extends 'base.html' %}

{% block title_head %}
<title>Lista Pacientes</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Pacientes Creados</h1>
{% endblock h1_header %}

{% block section1 %}

{% if object_list %}

    {% for paciente in object_list %}
    <div class="margin-top margin-bottom">
        <li>
            {{paciente}}
            <a class="navbar-brand boton" href="{% url 'modificar_pacientes' paciente.id %}">Modificar</a>
            <a class="navbar-brand boton" href="{% url 'eliminar_paciente' paciente.id %}" style="background-color:red">Eliminar</a>
            
        </li>
    </div>
    {% endfor %}  

{% else %}
    <h2>No Hay datos sobre Pacientes por el momento.</h2>
{% endif %}
{% endblock section1 %}