{% extends 'base.html' %}

{% block title_head %}
<title>Acerca</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Buenas, soy Matias Agustin Rasmussen</h1>

<h4>Tengo 16 años y esta es mi segunda página web creada desde cero, me encanta la programación y quiero especializarme
    más por el lado de hacking ético, pero queria aprender python ya que es un lenguaje muy bueno en cualquier aspecto,
    ya sea porque es sencillo y fácil del aprender, además de que se puede emplear en casi cualquier ámbito de la programacion. 
    Soy estudiante y quiero seguir practicando y aprendiendo para poder algún dia cumplir mis metas.
</h4>
{% endblock h1_header %}

