{% extends 'base.html' %}

{% block title_head %}
<title>Cambio Contraseña</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Cambio Contraseña</h1>
{% endblock h1_header %}

{% block section1 %}
<form action={% url 'cambio_contraseña' %} method="post">
    {% csrf_token %}
    <div style="background-color:#2C3E50">
        <div class="centrado" style="background-color:#ffffff">
            {% if form.error %}
            <p style="color: red"><b>Hubo un error</b></p>
            {% endif %}
            <div class="contenedor">
                <table>{{form}}</table>
            </div>
            <p></p>
            <div class="contenedor">
                <button class="boton">Confirmar</button>
            </div>
        </div>
    </div>
</form>
{% endblock section1 %}