{% extends 'base.html' %}

{% block title_head %}
<title>Editar Perfil</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Mi perfil</h1>
{% endblock h1_header %}

{% block section1 %}

<form action={% url 'editar_perfil' %} method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div style="background-color:#2C3E50">
        <div class="centrado" style="background-color:#ffffff">
            {% if formulario.errors %}
            <p style="color:red"><b>Hubo un error</b></p>
            {% endif %}
            <div class="contenedor">
                <table>{{formulario}}</table>
            </div>
            <div class="contenedor">
                <p>
                    <button type='button' class="boton"> <a class="navbar-brand" href="{% url 'cambio_contraseña' %}">Cambiar Contraseña</a></button>
                    <button class="boton">Guardar Cambios</button>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock section1 %}