{% extends 'base.html' %}

{% block title_head %}
<title>Registro</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Registro</h1>
{% endblock h1_header %}

{% block section1 %}

<form action={% url 'registro' %} method="post">
    {% csrf_token %}
    <div style="background-color:#2C3E50">
        <div class="centrado" style="background-color:#ffffff">
            {% if formulario.errors %}
            <p style="color: red"><b>Hubo un error</b></p>
            {% endif %}
            <div class="contenedor">
                <table>{{formulario}}</table>
            </div>
            <p></p>
            <div class="contenedor">
                <button class="boton">Registrarse</button>
            </div>
        </div>
    </div>
</form>
{% endblock section1 %}